<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Notes
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button detail *ngFor="let note of noteServ.notes"[routerLink]="'/notes/' + note.id">
      <ion-label>{{note.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addNewNote()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>